choppyusb.X/nbproject/Makefile-genesis.properties
choppyusb.X/nbproject/Makefile-*.mk
choppyusb.X/nbproject/Package-*.bash
choppyusb.X/nbproject/private/
choppyusb.X/build/
choppyusb.X/debug/
choppyusb.X/dist/
flashtool/